<?xml version="1.0" ?>
<robot name="steer_bot" xmlns:xacro="http://wiki.ros.org/xacro">
   
    <ros2_control name="SteerBotHardwareInterface" type="system">

        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <joint name="front_left_steer_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="front_right_steer_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

        <joint name="rear_left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="rear_right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name="front_left_wheel_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="front_right_wheel_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="front_steer_joint"> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="rear_wheel_joint"> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

    </ros2_control>

<gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find steer_bot_bringup)/config/steer_bot_controllers.yaml</parameters>
    </plugin>
</gazebo>

</robot>